{% extends "index.html" %}
{% block content %}
    <div class="container">
        <h2 style="text-align: center">Upload file with proxy</h2>
        <h3 style="text-align: center; color: blue;">
                "Don't exist proxies with fraud score <= 25"
        </h3>
        <div  style="display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;">
            <form method="post">
                {{ form.hidden_tag() }}
                <div style="width: 611px;
                            height: 150px;">
                    {{ form.proxy(type="textarea", placeholder="Enter proxy", style="width: 611px; height: 150px; resize: none;") }}
                </div>
                <div style="width: 611px;
                            height: 150px;">
                    {{ form.api_key(type="textarea", placeholder="Enter api-key", style="margin-top: 10px; width: 611px; height: 150px; resize: none;") }}
                    {{ form.submit(style="width: 100%; font-size: 16px;") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}